
body{
    margin: 0%;
    padding: 5px;
}

#HEADER {
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top: -5px;
    position: relative;
    width: 1400px;
}

.topnav {
    background-color: rgba(244, 62, 17, 0.864);
    overflow: hidden;
    position: sticky;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgba(244, 62, 17, 0.750);
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgba(244, 62, 17, 0.864);
    color: white;
}

.box{
    margin-top: 30px;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    padding-left: 30px;
}


.container form{
    padding: 5px;
    padding-top: 10px;
    padding-left: 40px;
    border: 5px solid black;
    background: orange;
    font-size: 22px;
}

label {
    font-size: 27px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
    margin-left: 70px ;
    font-size: 18px;
    background-color: initial;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    pointer-events: auto;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 400px;
    z-index: -3;
    border: 0;
    transition: box-shadow .2s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 25px;
}
